body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 0.6em;
	color: #4d4d4d;
	width: 40%;
	margin: 0 auto;
}
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 14px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	top:-14px;
}
#words {
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	margin: 50px 0 40px 0;
	border: 1px solid black;
	position: relative;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

#words:after {
	content: '';
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	width: 2px;
	position: absolute;
	top: 0;
	right: 40px;
	height: 100%;
}

#words input::-webkit-input-placeholder {
	font-style: italic;
}

#words input::-moz-placeholder {
	font-style: italic;
	color: #a9a9a9;
}

#words h1 {
	position: absolute;
	top: -70px;
	width: 100%;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: #b3b3b3;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
}

#header {
	padding-top: 12px;
	border-radius: inherit;
}

#header:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 15px;
	z-index: 2;
	border-bottom: 1px solid black;
	background: #2a2a2a;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}

#word-new {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 14px;
	font-family: inherit;
	line-height: 1.4em;
	outline: none;
	color: inherit;
	border: 1px solid #999;
	padding: 16px 16px 10px 15px;
	border: none;
	background: rgba(0, 0, 0, 0.02);
	z-index: 2;
	box-shadow: none;
}

#word-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#word-list li {
	position: relative;
	font-size: 14px;
	border-bottom: 1px dotted #ccc;
}

#word-list li:last-child {
	border-bottom: none;
}

#word-list li .toggle {
	text-align: center;
	width: 40px;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

#word-list li label {
	word-break: break-word;
	padding: 15px;
	height: 10px;
	display: block;
	line-height: 0.6;
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	-ms-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
}

#word-list li.completed label {
	color: #a9a9a9;
	text-decoration: line-through;
}

#word-list li .destroy {
	display: none;
	border: none;
	background: none;
	position: absolute;
	top: 0;
	right: 2px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 22px;
	transition: all 0.2s;
}

#word-list li .destroy:hover {
	transform: scale(1.3);
}

#word-list li .destroy:after {
	content: '✖';
}

#word-list li:hover .destroy {
	display: block;
}

#word-list li .destroy:active  {
	outline: none !important;
	color: red;
}

#footer {
	color: #777;
	padding: 0 15px;
	position: absolute;
	right: 0;
	bottom: -31px;
	left: 0;
	height: 20px;
	z-index: 1;
	text-align: center;
}